@charset "utf-8";

body{
    background-color: #fff4d6;
    font-size: 16px;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
    line-height: 1.5;
    color: #900;
}

.inner{
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.line{
    line-height: 1;
    width: 30%;
    height: 6px;
    background-color: #900;
    text-indent: -9999px;
    clear: both;
}

.line-right{
    float: right;
    clear: both;
}


.more-btn{
    clear: both;
    float: right;
}

.more-btn a{
    height: 17px;
    line-height: 1;
    display: block;
    padding-right: 23px;
    color: #900;
    text-decoration: none;
    background-image: url(../img/ico_link.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.more-btn a:hover{
    color: #201161;
    background-image: url(../img/ico_link_on.png);
}

/*title*/

.title{
    margin-bottom: 60px;
    line-height: 1;
}

.event-title{
    float: left;
}

.gallery-title{
    float: right;
}


/*txt*/



/*#header*/

#header{
    width: 100%;
    height: 100px;
    background-color: #900;
}

#logo{
    position: relative;
    top: 28px;
    left: 32px;
    float: left;
    line-height: 1;
}

#global-nav{
    list-style-type: none;
    margin-left: 124px;
    padding-top: 45px;
    
}

#global-nav li{
    float: left;
    margin-right: 50px;
    vertical-align: center;
}

#global-nav a{
    display: block;
    text-indent: -9999px;
}

.nav-about a{
    width: 40px;
    height: 11px;
    background: url(../img/nav_about.png) no-repeat center center;
}

.nav-about a:hover{
    background-image: url(../img/nav_about_on.png);
}

.nav-event a{
    width: 88px;
    height: 12px;
    background: url(../img/nav_event.png) no-repeat center center;
}

.nav-event a:hover{
    background-image: url(../img/nav_event_on.png);
}

.nav-gallery a{
    width: 52px;
    height: 11px;
    background: url(../img/nav_gallery.png) no-repeat center center;
}

.nav-gallery a:hover{
    background-image: url(../img/nav_gallery_on.png);
}

.nav-access a{
    width: 47px;
    height: 11px;
    background: url(../img/nav_access.png) no-repeat center center;
}

.nav-access a:hover{
    background-image: url(../img/nav_access_on.png);
}


/*#mv*/

#mv{
    width: 100%;
    height: 670px;
    text-indent: -9999px;
    background: url(../img/img_mv.jpg) no-repeat center center;
    background-size: cover;
}

/*#about*/

#top-about{
    padding-top: 120px;
    padding-bottom: 45px;
    position: relative;
}


.about-lead{
    width: 464px;
    margin: 0 16px 50px 0;
    float: left;
    text-align: left;
}

.about-img{
    line-height: 1;
/*    float: right;*/
    margin-bottom: 48px;
}

.about-img-item{
    line-height: 1;
    margin-bottom: 35px;
}

.about-content{
    clear: both;
}

.about-content h3{
    line-height: 1;
    font-size: 24px;
    margin-bottom: 32px;
}

.about-content-item{
    margin-bottom: 28px;
}

.about-content-item h4{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1;
}

.logo-about{
    position: absolute;
    top: 757px;
    left: 258px;
}

.logo-about-img{
    margin-bottom: 20px;
}
.logo-about-title{
    position: relative;
    left: 22px;
}



/*top-event*/

#top-event{
    padding-top: 77px;
    padding-bottom: 77px;
    overflow: hidden;
}



.event-list{
    clear: both;
    list-style-type: none;
}

.event-list-item{
    width: 300px;
    height: 420px;
    float: left;
    margin-right: 20px;
    margin-bottom: 12px;
    background-color: #fff;
}

.event-list-item:last-child{
    margin-right: 0;
}

.event-list-item a{
    width: 300px;
    height: 420px;    
    display: block;
    text-decoration: none;
    color: #900;
    overflow: hidden;
}

.event-list-item a:hover{
    color: #201161;
}

.event-item-title{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*top-gallery*/


#top-gallery{
    padding-top: 77px;
    padding-bottom: 77px;
    overflow: hidden;
    clear: both;
}


.gallery-list{
    clear: both;
    list-style-type: none;
    line-height: 1;
}

.gallery-list li{
    float: left;
    margin-bottom: 20px;
    margin-right: 20px; 
}

.gallery-list li:nth-child(4n){
    margin-right: 0;
}


/*top-access*/

#top-access{
    padding-top: 77px;
    padding-bottom: 80px;
    overflow: hidden;
    clear: both;
}

.access-map-area{
    line-height: 1;
    background-color: #fff;
    width: 400px;
    height: 250px;
    float: left;
    line-height: 1;
}

.access-txt-area{
    float: right;
    font-size: 14px;
        text-align: left;
    line-height: 1;
}

.access-txt-area dt,
.access-txt-area dd{
    margin-bottom: 20px;
}

.access-txt-area dt{
    float: left;
    clear: both;
}

.access-txt-area dd{
    
    padding-left: 80px;
}

.access-txt-area ul{
    clear: both;
    list-style-type: none;
    line-height: 1.5;
}

.access-txt-area li{
    padding-left: 20px;
    background-image: url(../img/list-markar.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}


/*footer*/

#footer{
    background-color: #900;
    padding: 80px 0 65px 0;
}

.ft-logo{
    margin-bottom: 21px;
}

#ft-nav{
    margin-bottom: 16px;
}

#ft-nav li{
    display: inline-block;
    padding: 0 13px 0 13px;
}

#ft-nav a{
    line-height: 1;
    display: block;
    text-indent: -9999px;
}

.ico-list{
    list-style-type: none;
    margin-bottom: 14px;
}

.ico-list li{
    display: inline-block;
    padding: 0 7px;
}

.ico-list a{
    display: block;
    text-indent: -9999px;
}

.ico-twitter{
    width: 32px;
    height: 26px;
    background-image: url(../img/ico_ft_twitter.png);
    background-repeat: no-repeat;
    background-position: center content;
}

.ico-twitter:hover{
    background-image: url(../img/ico_ft_twitter_on.png);
}

.ico-facebook{
    width: 28px;
    height: 28px;
    background-image: url(../img/ico_ft_facebook.png);
    background-repeat: no-repeat;
    background-position: center content;
}

.ico-facebook:hover{
    background-image: url(../img/ico_ft_facebook_on.png);
}

.copywriting{
    line-height: 1;
    color:#fff4d6;
    font-size: 14px;
}


